{{docs-header}}

{{docs-hero
  logo='ember'
  slimHeading='good'
  strongHeading='point'
  byline='SVG arrows with contextual components.'}}

{{#docs-demo as |demo|}}
  {{#demo.example name='docs-demo-basic.hbs'}}
    {{#goodpoint-arrow as |arrow|}}
      {{#arrow.from}}
        <div>Draw an arrow from here</div>
      {{/arrow.from}}
      {{#arrow.to}}
        <div>To here</div>
      {{/arrow.to}}
    {{/goodpoint-arrow}}
  {{/demo.example}}
{{/docs-demo}}